.center-block {
    margin: auto;
    display: block;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    margin-left: 15%;
    width: 90%;
    justify-content: center;
    padding: 10px;
  }