<input class="center-block" type="text" (keyup)="onKeypressEvent($event)" placeholder="Find some episodes!" />
<br>
<div class="center">
    <table class="center">
        <tr>
            <th>Episode</th>
            <th>Name</th>
            <th>Air Date</th>
            <th>Detail</th>
        </tr>

        <tr *ngFor="let episode of episodes">
            <td>{{episode.episode}}</td>
            <td>{{episode.name}}</td>
            <td>{{episode.air_date}}</td>
            <td>Details</td>
        </tr>

    </table>
</div>



<div class="center paginator">
    <button [hidden]="!this.prev" (click)="changePage(-1)" style='float: left;'>Previous page</button>
    <button [hidden]="!this.next" (click)="changePage(1)" style='float: right;'>Next page</button>
</div>
