.card {
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(31, 31, 31, .1);
    padding: 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

b {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.center-block {
    margin: auto;
    display: block;
}

h4 {
    display: inline-block;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonBlue {
    background-color: #008CBA;
}